.main-logo{
    color: white;
    padding-right: 20px;
    float: left;
}
p, a{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    padding-left: 20px;
    padding-right: 20px;
}
input{
    margin-left: 20px;
    width: 920px;
    font-size: 14px;
}
h1{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.backgrounds{
    background-color: #4aaaa5;
    width: 300px;
    float: left;
}
.main-header{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    /*width: 960px;*/
    height: 77px;
    
}
.main-content{
    background-color: #ffffff;
    border: 2px #dddddd;
    border-style: solid;
    width: 960px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: both;
}
footer{
    background-color: #666666;
    /*clear: left;*/
}
.copyright{
    text-align: center;
}
body{
    background-image: url("../images/dark-paths.png");
    background-color: royalblue;
    
}
#photoHelena{
    float: left;
    height: 150px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
}
nav{
    float: right;
    padding-top: 30px;
}
.header-content{
    width: 960px;
    margin: 0 auto;
}
hr{
    width: 920px;
}
#submitbutton{
    margin: 20px;
    background-color: #4aaaa5;
    width: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 5px;
}
textarea{
    margin-left: 20px;
    width: 920px;
}
.img-container{
    width: 300px;
    height: 150px;
}
